// .form__table-row,
// td, th{
//     border: 1px solid rgb(222,222,222);
// }

// td{
//    text-align: center;
//    padding: 3px; 
// }

form{
    &__table{
        padding: 3px;

        // &-row{
        //     border: 1px solid rgb(222,222,222);
        //     // text-align: center;
        // }
        &-parentDiv{
            text-align: center;
        }

        &-header{
            display: inline-block;
        }

        &-stations{
            display: inline-block;
        }

        &-arrivals{
            display: inline-block;
        }
    }
}