$default-font-size: 1.6rem;
$default-font-weight: 600;

// airbnb style box shadow:
//     box-shadow: 0 16px 40px rgba(0,0,0,0.12);

.form__overall{
    display: flex;
    position: relative;
}

.form__container{
    background-color: white;
    position: absolute;
    height: 61rem;
    width: 44.1rem;
    top: 11.5rem;
    left: 10rem;
    border-radius: 3px;
    box-shadow: 0.2rem 0.2rem 4rem 0px rgba(0,0,0,0.75);
}

.form__insideContainer{
    display: flex;
    align-items: center;
}

.form{
    padding: 3rem;
    // height: 100%;
    // width: 100%;

    &__header{        
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color:#474747;
    }

    &__group{
        margin-bottom: 1;
        // border-radius: 3px;
        display: inline-block;
        justify-content: center;
        // background-color: red;
        width: 100%;
    }
            
    &__btn{
        text-align: right;
     }

     &__searchBtn{
         font-size: 1.7rem;
         font-weight: 800;
         // padding: 0.6rem 1.2rem;
         margin-bottom: 0;
 
         display: inline-block;
         color: #fff;
         cursor: pointer;
         background-color: #007bff;
         border-radius: 0.4rem;
         border-width: 0.2rem;
         line-height: 2.4rem;
         padding: 1rem 2.2rem;
     }
    

    &__label{
        display: block;
        color: #474747;
        font-weight: $default-font-weight;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    &__input{
        font-size: $default-font-size;
        border: 1px solid rgb(222, 222, 222);
        border-radius: 3px;    
        padding: 1rem;
        margin: 1.2rem 0;
        width: 100%;
    }

    &__dateAndTimeParent{
        position: relative;
        margin-top: 0.8rem;
    }

    &__dateAndTime{
        width: 50%;
        display: inline-block;
        overflow: hidden;
    }

    &__dateAndTime-label{
        display: block;
        color: #474747;
        font-weight: $default-font-weight;
        font-size: 1.5rem;
    }

    &__dateAndTime-input{
        font-size: $default-font-size;
        border: 1px solid rgb(222, 222, 222);
        border-radius: 3px;    
        padding: 1rem;
        margin: 1.2rem 0;
        width: 99.99%;
    }

    &__tableParent{
        margin: 1.2rem 0;
        display: inline-block;
        width: 100%;
        height: 12rem;
        overflow: hidden;
        border: 1px solid  rgb(222, 222, 222);
        border-radius: 3px;
    }

}
        

        